button{
    font-size: xx-large;
    height: 90px;
    width: 90px;
    padding: 2px;
    border: 1px;
    border-radius: 50%;
}
button:hover {
    opacity: 0.8;
    cursor: pointer;
}
#container{
    padding: 10px;
    background-color: gray;
    width: 28%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: auto;
    gap: 20px;
    border-radius: 20px;
}
#display{
    display:flex;
    justify-content:end;
    align-items: end;
    background-color: black;
    width: 100%;
    height: 150px;
    border-radius: 20px;
}
#text{
    padding-right: 40px;
    color: white;
    font-size: 40px;
    font-weight: bold;
}
[id^="row"] {
    display: flex;
    justify-content: flex-start;
    gap: 15px;
}
#row5{
    justify-content: center;
}
#add {
    background-color: orange;
    border-radius: 50%;
    border: 1px;
}

#sub {
    background-color: orange;
    border-radius: 50%;
    border: 1px;
}
#mul {
    background-color: orange;
    border-radius: 50%;
    border: 1px;
}
#div {
    background-color: orange;
    border-radius: 50%;
    border: 1px;
}